{% comment %}  {% endcomment %}
<style>
         .custom-grid {
         padding-top: var(--section-padding-top);
         padding-bottom: var(--section-padding-bottom);
       }

       .custom-grid .grid-container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(3, 1fr);
         gap: var(--row-gap) var(--column-gap);
       }

       .custom-grid .grid-item {
         position: relative;
         overflow: hidden;
       }
       .custom-grid .bg_transp{
         background: #0000002e;
         backdrop-filter: blur(2px);
         transition: all ease .3s
       }

      .grid-overlay::before{
          position: absolute;
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 20px;
          content: '';
          opacity: 0;
          transition: opacity 0.35s,transform 0.35s;
          border: 10px solid;
          border-image-slice: 1;
          border-width: 5px;
          border-image-source: linear-gradient(0deg, #c1c5d4, #504f48,  #bebcb6, #e7d8c0, #efefea );
          opacity: 0;
          transform: scale(0,1);
          background: #0000002e;
          /* backdrop-filter: blur(2px); */

      }
      .grid-item:hover .grid-overlay::before{
          opacity: 1;
          transform: scale(1);
      }
       .custom-grid .grid-item:hover .bg_transp{
          transform: scale(1.2);
           background:none;
           border:none
      }




       .custom-grid .grid-item .sf-image {
          height: 100%;
          width: 100%;
          aspect-ratio: unset;
          object-fit: cover;
        }

        .custom-grid .grid-item .sf-image::before {
            display: none;
        }

        .custom-grid .grid-item img{
            position: relative !important;
            height: 100%;
        }
      .custom-grid .grid-item:nth-child(1) {
         grid-row: span 2 / span 2;
       }

       .custom-grid .grid-item:nth-child(2) {
         grid-column: span 2 / span 2;
       }

       .custom-grid .grid-item:nth-child(3) {
         grid-column-start: 2;
         grid-row-start: 2;
       }

       .custom-grid .grid-item:nth-child(4) {
         grid-column-start: 3;
         grid-row-start: 2;
       }

       .custom-grid .grid-item:nth-child(5) {
         grid-column: span 2 / span 2;
         grid-row-start: 3;
       }

       .custom-grid .grid-item:nth-child(6) {
         grid-column-start: 3;
         grid-row-start: 3;
       }

    @media (max-width: 768px) {
    .custom-grid .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      grid-template-rows: auto;
      gap: var(--row-gap) var(--column-gap);
    }

    /* Grid items */
    .custom-grid .grid-item:nth-child(1) {
      grid-column: span 2 / span 2; /* Span across both columns */
      grid-row: span 1 / span 1; /* Span 1 row only */
    }

    .custom-grid .grid-item:nth-child(2), .custom-grid .grid-item:nth-child(3), .custom-grid .grid-item:nth-child(4), .custom-grid .grid-item:nth-child(6) {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .custom-grid .grid-item:nth-child(5) {
      grid-column: span 2 / span 2; /* Span across both columns */
      grid-row: span 1 / span 1; /* Span 1 row only */
      order: 1
    }
  }


    @media (max-width: 480px) {
      .custom-grid .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Switch to 1 column for phones */
      }

      .custom-grid .grid-item {
        grid-column: span 1 / span 1 !important; /* All items stack in a single column */
      }
    }
</style>
<section
  class="custom-gri"
  style="
    background-color: {{ section.settings.background_color }};
    --column-gap: {{ section.settings.item_gap }}px;
    --column-gap-mobile: {{ section.settings.item_gap_mobile | default: section.settings.item_gap }}px;
    --row-gap: {{ section.settings.item_gap }}px;
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="{{ section.settings.container }} section-my section-py container mx-auto">
    {% if section.settings.heading %}
      {% render 'index-section-header', section_settings: section.settings %}
    {% endif %}

    <div class=" grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5">
      {% for block in section.blocks %}
        <div class="grid-item relative text-center rounded border rounded">
          <a href="{{ block.settings.link }}">
            {% render 'responsive-image', image: block.settings.image, image_class: 'w-full h-full object-cover' %}
            <div class="grid-overlay absolute inset-0 flex items-center justify-center">
              <p class=" px-3 md:px-6 py-2 md:py-3 text-white text-xl font-semibold bg_transp border border-2 rounded border-color-white inline-block">
                {{ block.settings.title }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Grid",
  "settings": [

    {
      "type": "html",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        { "value": "container-fluid", "label": "Default" },
        { "value": "w-full", "label": "Full width" },
        { "value": "container", "label": "Use container box" }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "item_gap",
      "label": "Item Gap",
      "default": 16,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },

  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Grid"
    }
  ]
}
{% endschema %}
